---
extends: default

rules:
  line-length:
    max: 150
    level: warning
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  truthy:
    allowed-values: ["true", "false", "on", "off"]
  quoted-strings: disable  # We prefer double quotes but don't enforce quoting everything
  brackets:
    max-spaces-inside: 1
  document-start:
    present: true
  indentation:
    spaces: 2
    indent-sequences: true

ignore: |
  .venv/
  venv/
  .git/
