---
# Production overrides for docker-compose.yml
# Usage: docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d
# Note: When using deploy.replicas, container_name from base config is ignored
#
# Secrets: populate secrets/ from secrets.example/ and run scripts/create-secrets.sh
# See: scripts/create-secrets.sh for automated secret generation

secrets:
  jwt_secret_key:
    file: ./secrets/jwt_secret_key.txt
  oauth_encryption_key:
    file: ./secrets/oauth_encryption_key.txt
  postgres_password:
    file: ./secrets/postgres_password.txt
  postgres_username:
    file: ./secrets/postgres_username.txt
  rabbitmq_password:
    file: ./secrets/rabbitmq_password.txt
  rabbitmq_username:
    file: ./secrets/rabbitmq_username.txt
  neo4j_password:
    file: ./secrets/neo4j_password.txt

services:
  rabbitmq:
    restart: always
    environment:
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}

  postgres:
    restart: always
    environment:
      POSTGRES_DB: discogsography
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
      POSTGRES_USER_FILE: /run/secrets/postgres_username
    secrets:
      - postgres_username
      - postgres_password

  neo4j:
    restart: always
    entrypoint: ["/scripts/neo4j-entrypoint.sh"]
    environment:
      NEO4J_dbms_memory_heap_max__size: ${NEO4J_HEAP_SIZE:-2G}
    secrets:
      - neo4j_password
    volumes:
      - ./scripts/neo4j-entrypoint.sh:/scripts/neo4j-entrypoint.sh:ro

  api:
    restart: always
    environment:
      JWT_SECRET_KEY_FILE: /run/secrets/jwt_secret_key
      OAUTH_ENCRYPTION_KEY_FILE: /run/secrets/oauth_encryption_key
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
      POSTGRES_USERNAME_FILE: /run/secrets/postgres_username
    secrets:
      - jwt_secret_key
      - oauth_encryption_key
      - postgres_username
      - postgres_password
    deploy:
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3

  curator:
    restart: always
    environment:
      JWT_SECRET_KEY_FILE: /run/secrets/jwt_secret_key
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
      POSTGRES_USERNAME_FILE: /run/secrets/postgres_username
    secrets:
      - jwt_secret_key
      - postgres_username
      - postgres_password
    deploy:
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3

  extractor:
    restart: always
    environment:
      RABBITMQ_PASSWORD_FILE: /run/secrets/rabbitmq_password
      RABBITMQ_USERNAME_FILE: /run/secrets/rabbitmq_username
    secrets:
      - rabbitmq_username
      - rabbitmq_password
    deploy:
      replicas: 1
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3

  graphinator:
    restart: always
    environment:
      RABBITMQ_PASSWORD_FILE: /run/secrets/rabbitmq_password
      RABBITMQ_USERNAME_FILE: /run/secrets/rabbitmq_username
    secrets:
      - rabbitmq_username
      - rabbitmq_password
    deploy:
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3

  tableinator:
    restart: always
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
      POSTGRES_USERNAME_FILE: /run/secrets/postgres_username
      RABBITMQ_PASSWORD_FILE: /run/secrets/rabbitmq_password
      RABBITMQ_USERNAME_FILE: /run/secrets/rabbitmq_username
    secrets:
      - rabbitmq_username
      - rabbitmq_password
      - postgres_username
      - postgres_password
    deploy:
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3

  dashboard:
    restart: always
    environment:
      RABBITMQ_PASSWORD_FILE: /run/secrets/rabbitmq_password
      RABBITMQ_USERNAME_FILE: /run/secrets/rabbitmq_username
    secrets:
      - rabbitmq_username
      - rabbitmq_password
    deploy:
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
